### WeatherPy by Eric Roberts

In [13]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import csv

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

90

In [14]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []
countries = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=lat_range[0], high=lat_range[1], size=1500)
lngs = np.random.uniform(low=lng_range[0], high=lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1])
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

630

In [34]:
def weatherurl(cityname,country):
    #api.openweathermap.org/data/2.5/weather?q={city name},{country code}

    base_url = "http://api.openweathermap.org/data/2.5/weather?q="
    base_url += cityname
    base_url += ","
    base_url += country
    base_url += "&appid="
    base_url += api_key
    return base_url




cityprogress = 0
loc = 0
with open(output_data_file, 'w', newline='') as csvfile:
    w = csv.writer(csvfile, delimiter=',')
    
    headers = ['City', 'Cloudiness', 'Country', 'Date', 'Humidity', 'Lat', 'Lng', 'Max Temp', 'Wind Speed']
    w.writerow(headers)
    df = pd.DataFrame(columns=headers)

    #cities[:50]
    for city in cities[:50]:
        url = weatherurl(city.city_name,city.country_code)
        response = requests.get(url)
        r = response.json()
        cityprogress +=1
        progress_string = "Retrieving City "+str(cityprogress)+" of "+str(len(cities))+" | "+city.city_name
        if (r['cod'] == 200):
            #retrieve these features:
            #City, Cloudiness, Country, Date, Humidity, Lat, Lng, Max Temp, Wind Speed
            row = [r['name'],r['clouds']['all'],r['sys']['country'],r['dt'],r['main']['humidity'],r['coord']['lat'],r['coord']['lon'],r['main']['temp_max'],r['wind']['speed']]
            w.writerow(row)
            df.loc[loc] = row
            loc+=1
        else:
            progress_string+=" << 404, Not Found >>"
        print (progress_string)

            
    print ("Writing Complete")

Retrieving City 1 of 630 | rikitea
Retrieving City 2 of 630 | kavaratti
Retrieving City 3 of 630 | rongcheng
Retrieving City 4 of 630 | jamestown
Retrieving City 5 of 630 | port elizabeth
Retrieving City 6 of 630 | jabiru << 404, Not Found >>
Retrieving City 7 of 630 | alberton
Retrieving City 8 of 630 | taltal
Retrieving City 9 of 630 | ushuaia
Retrieving City 10 of 630 | joshimath
Retrieving City 11 of 630 | punta arenas
Retrieving City 12 of 630 | yellowknife
Retrieving City 13 of 630 | malidong
Retrieving City 14 of 630 | albany
Retrieving City 15 of 630 | kendari
Retrieving City 16 of 630 | taolanaro << 404, Not Found >>
Retrieving City 17 of 630 | vaini
Retrieving City 18 of 630 | san policarpo
Retrieving City 19 of 630 | mulege
Retrieving City 20 of 630 | hobart
Retrieving City 21 of 630 | havelock
Retrieving City 22 of 630 | flin flon
Retrieving City 23 of 630 | avarua
Retrieving City 24 of 630 | east london
Retrieving City 25 of 630 | hasaki
Retrieving City 26 of 630 | karkaralinsk << 404, Not Found >>
Retrieving City 27 of 630 | kaeo
Retrieving City 28 of 630 | chokurdakh
Retrieving City 29 of 630 | hami
Retrieving City 30 of 630 | saint-augustin
Retrieving City 31 of 630 | laguna << 404, Not Found >>
Retrieving City 32 of 630 | atuona
Retrieving City 33 of 630 | clyde river
Retrieving City 34 of 630 | port alfred
Retrieving City 35 of 630 | amderma << 404, Not Found >>
Retrieving City 36 of 630 | hofn
Retrieving City 37 of 630 | new norfolk
Retrieving City 38 of 630 | arraial do cabo
Retrieving City 39 of 630 | henties bay
Retrieving City 40 of 630 | talnakh
Retrieving City 41 of 630 | illoqqortoormiut << 404, Not Found >>
Retrieving City 42 of 630 | iqaluit
Retrieving City 43 of 630 | khatanga
Retrieving City 44 of 630 | bilibino
Retrieving City 45 of 630 | hambantota
Retrieving City 46 of 630 | puerto ayora
Retrieving City 47 of 630 | hermanus
Retrieving City 48 of 630 | barrow
Retrieving City 49 of 630 | mar del plata
Retrieving City 50 of 630 | mataura << 404, Not Found >>
Writing Complete

In [36]:
df.head(40)

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Rikitea,100,PF,1567745067,70,-23.12,-134.97,293.40,9.75
1,Kavaratti,40,IN,1567744795,74,10.57,72.64,302.15,2.10
2,Rongcheng,89,CN,1567744795,70,37.16,122.42,298.20,4.04
3,Jamestown,100,SH,1567744795,77,-15.94,-5.72,291.80,6.86
4,Port Elizabeth,20,ZA,1567744545,67,-33.92,25.57,288.15,7.20
5,Alberton,22,CA,1567744796,34,46.81,-64.06,288.15,18.33
6,Taltal,6,CL,1567744796,89,-25.41,-70.49,281.30,0.83
7,Ushuaia,65,AR,1567744580,93,-54.81,-68.31,268.60,1.51
8,Joshimath,51,IN,1567744796,81,30.57,79.57,291.50,2.73
9,Punta Arenas,20,CL,1567745068,84,-53.16,-70.91,274.15,2.60
10,Yellowknife,75,CA,1567744981,93,62.45,-114.38,281.15,2.10
11,Malidong,89,PH,1567745068,74,13.01,123.46,302.60,8.13
12,Albany,0,AU,1567745068,51,-35.02,117.88,288.15,6.20
13,Kendari,3,ID,1567745069,51,-3.99,122.52,303.10,3.84
14,Vaini,0,TO,1567745069,69,-21.20,-175.20,295.30,7.20
15,San Policarpo,74,PH,1567745069,63,12.18,125.51,304.40,2.62
16,Mulege,83,MX,1567745070,67,26.88,-111.98,303.40,2.26
17,Hobart,75,AU,1567744811,87,-42.88,147.33,284.15,3.60
18,Havelock,90,US,1567745054,88,34.88,-76.90,299.26,12.90
19,Flin Flon,53,CA,1567745070,91,54.77,-101.88,282.40,4.05
20,Avarua,86,CK,1567745070,73,-21.21,-159.78,296.15,9.80
21,East London,75,ZA,1567745071,82,-33.02,27.91,286.15,2.60
22,Hasaki,40,JP,1567745071,70,35.73,140.83,306.15,4.10
23,Kaeo,89,NZ,1567745071,100,-35.10,173.78,284.26,8.75
24,Chokurdakh,27,RU,1567745071,60,70.62,147.90,279.10,1.45
25,Hami,0,CN,1567745072,22,42.84,93.51,301.80,3.18
26,Saint-Augustin,75,CA,1567745072,100,45.63,-73.98,287.04,1.10
27,Atuona,14,PF,1567745072,67,-9.80,-139.03,299.50,2.83
28,Clyde River,90,CA,1567745072,93,70.47,-68.59,277.15,2.10
29,Port Alfred,0,ZA,1567745073,80,-33.59,26.89,285.37,2.24
30,Hofn,48,IS,1567745073,90,64.25,-15.21,273.00,1.51
31,New Norfolk,75,AU,1567745073,87,-42.78,147.06,284.15,3.60
32,Arraial do Cabo,100,BR,1567745074,83,-22.97,-42.02,291.50,5.02
33,Henties Bay,0,NA,1567745074,92,-22.12,14.28,285.37,0.89
34,Talnakh,75,RU,1567745074,93,69.49,88.39,284.15,8.00
35,Iqaluit,75,CA,1567745075,75,63.75,-68.52,280.15,3.10
36,Khatanga,100,RU,1567745075,98,71.98,102.47,281.50,0.35
37,Bilibino,82,RU,1567745075,67,68.06,166.44,281.80,1.26
38,Hambantota,40,LK,1567745075,100,6.12,81.12,300.15,5.10
39,Puerto Ayora,4,EC,1567745076,98,-0.74,-90.35,292.59,3.79